{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-center">Home de baptiste</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores, consectetur consequatur culpa deserunt,
        dolorum ea error est eum fugit incidunt itaque iusto labore magnam nam nihil non numquam officiis qui quis recusandae
        sint tempora ullam veritatis voluptatibus? Ad aperiam architecto asperiores at aut consectetur cumque delectus eius
        enim esse eum explicabo, fugit inventore itaque labore modi mollitia natus nesciunt nobis nostrum possimus quibusdam
        reprehenderit saepe sapiente sed sequi, soluta tempora ullam velit veniam! Alias aliquid at cupiditate doloremque eos,
        exercitationem, facere facilis magni mollitia perspiciatis provident unde voluptatem! Autem dolores expedita repellat voluptate.
        Dolore labore quaerat quisquam tenetur veniam.
    </p>
{% endblock %}